* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #efe9e3;
}

.container p {
    text-align: center;
    margin: 30px 0px 10px 0px;
    color: rgba(0,0,0,0.6);
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color:#f9f8f6;
    padding: 70px 50px 0px 50px;
    width: 25%;
    max-width: 350px;
    margin: 10px;
    border-radius: 10px;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}

.profile-img img {
    width: 100%;
    height: 100%;
}

.profile-contact {
    text-align: center;
}

.content {
    text-align: center;
}

.content h3 {
    font-size: 1.2rem;
    margin-top: 15px;
    color: rgba(0,0,0,0.9);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.content p {
    color: rgba(0,0,0,0.7);
    letter-spacing: 1px;
    margin: 0;
}

@media(max-width: 969px){
    .wrapper{
        flex-wrap: wrap;
    }
    .card{
        width: 100%;
    }
}

@media(max-width: 500px){
    .wrapper{
        flex-wrap: wrap;
    }
    .card{
        width: 100%;
        margin: 20px;
    }
}